<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.chatTest.mapper.roomMapper">

	<insert id="insertRoomInfo">
 		insert into tbl_room(roomid, room_name, max_usercnt	, room_manager) 
 		values(#{roomid} , #{room_name} , #{max_usercnt} , #{room_manager} )
 	</insert>

</mapper>