<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.chatTest.mapper.roomMapper">

	<insert id="insertRoomInfo">
 		insert into tbl_room(roomName, maxUserCnt	, roomManager) 
 		values( #{roomName} , #{maxUserCnt} , #{roomManager} )
 	</insert>

	<select id="selectRoomList" resultType="com.spring.domain.RoomInfoVO">
		select * from tbl_room
	</select>
	
	<select id="selectRoomUserCnt" resultType="int">
		select currUserCnt from tbl_room where roomId = #{roomId}
	</select>
	
	<select id="selectRoomMaxCnt" resultType="int">
		select maxUserCnt from tbl_room where roomId = #{roomId}
	</select>
	
	<update id="updateRoomCnt1">
		update tbl_room set currUserCnt = currUserCnt +1 where roomId = #{roomId} 
	</update>
	
	<update id="updateRoomCnt2">
		update tbl_room set currUserCnt = currUserCnt -1 where roomId = #{roomId} 
	</update>
</mapper>